<!-- <nav>
  <ul>
    <li>
      <a routerLink="/dash" routerLinkActive="active">Dashboard</a>
    </li>
  </ul>
</nav> -->
<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu> -->
<nav style="margin-bottom: 16px;">
  <button mat-button routerLinkActive="mat-accent" routerLink="/dash">
    Dahsboard
  </button>
  <button mat-button routerLinkActive="mat-accent" routerLink="/projects">
    Projects
  </button>
  <button
    mat-button
    routerLinkActive="mat-accent"
    routerLink="/users"
    [queryParams]="{ page: 1, order: 'newest' }"
  >
    Users
  </button>
  <button mat-button routerLinkActive="mat-accent" routerLink="/login">
    Login
  </button>
</nav>

<router-outlet></router-outlet>
